html, body {
    height: 100%;
}
body {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-size: 48px;
}

.links {
    padding-top: 78px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: underline;
}